/* All pages */


body {
    margin: 0;
    color: white;
    font-family: 'Roboto';
    display: block;
}

h1 {
    font-size: 3rem;
}


/* TOP IMAGE  */
.container-image {
}

    .container-image img {
        width: 1110px;
        height: 450px;
    }



/* CONTENT SECTION */

.content-container {
    height: 1900px;
    display: block;
    background-color: rgb(0, 172, 163);
}

.header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header3 {
    text-align: center;
    transform: translateY(20px);
}

.text-container {
    background-color: #3D848E;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    padding: 20px;
    border-radius: 25px;
    font-size: 1.7rem;
}

.text-container2 {
    background-color: #3D848E;
    text-align: center;
    width: 750px;
    border-radius: 25px;
    font-size: 1.7rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.text-container3 {
    float: right;
    margin: 10px;
}

.text-container4 {
    float: none;
    margin: 10px;
}

.sample-image {
    padding: 25px;
}

    .sample-image img {
        width: 250px;
        height: 300px;
    }

/* MAP IMAGE */

.map-image {
    transform: translateY(50px);
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
    justify-content: center;
}

    .map-image img {
        width: 630px;
        height: 420px;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        display: block;
        border-radius: 25px;
    }
