body {
    font-family: 'Roboto';
}

#Content1 {
    background-color: white;
}

/*top container*/


.top-box {
    height: 110px;
    width: 100%;
    background: linear-gradient(187.19deg, #FF7F7F 0%, #DDCD13 101.17%);
}

.header {
    padding-left: 35px;
    transform: translateY(30px);
    font-size: 5rem;
    color: white;
}

/*content container*/
.form-container {
    text-align: center;
    transform: translateY(150px);
}

.content-box {
    height: 1000px;
    background-image: url('../Images/background.png');
    background-position: center;
    font-size: 2rem;
}

.header2 {
    text-align: center;
    transform: translateY(50px);
    font-size: 4rem;
    color: white;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input {
    max-width: 600px;
}

textarea {
    max-width: 600px;
}

.button1 {
    transform: translateX(900px);
    background-color: #FBD826;
    width: 50px;
    height: 40px;
    border-radius: 10px;
}

.btn {
    transform: translateX(800px);
    background-color: #FBD826;
    margin: 25px;
    font-style: normal;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}


label {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

input, select, textarea {
    float: left;
    height: 50px !important;
}

.form-control {
    font-size: 1em !important;
    color: #000 !important;
}
