body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100%;
    width:100%;
   

}


/* top container 
    background: linear-gradient(to right, #16222a, #233142);
*/
.top-box {
    background: linear-gradient(to bottom, #233142, #49BEB7);
    height: 100px;
    padding: 10px 0 10px 20px;
    color: white;
    
 
}

.top-head {
    transform: translateY(25px);
    font-size: 5rem;
 
    
}

h1.top-box {
    font-size: 5rem;
    padding:10px;
    
}

h2 {
    font-size: 3rem;
    transform: translateX(-350px);
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom:15px;
}

.content {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #49BEB7;
    
}

container2{
    height: 800px;
}

.col-25 {
    padding: 25px;
}

.col-75{
    padding: 25px;
    width:100%;
    height: 100%;

}

label {
    transform: translateX(50px);
}

.lbl {
    width: 380px;
    font-size: 2rem;
    position: absolute;
    height: 100px;
}

.lbl2 {
    width: 310px;
    font-size: 2rem;
    position: absolute;
    height: 100px;
}

.txt {
    font-size: 1.5rem;
}


/*text box for title*/
.txtTitle {
    max-width: 500px;
    width: 500px;
    font-size: 1.5rem;
    border-radius: 15px;
    padding-left: 10px;
    border-width:2px;
}


/* Text Box for description*/
.txtDesc {
    max-width: 500px;
    width: 500px;
    height: 200px;
    text-align: left;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    border-width: 2px;

}

.tbox {
    width: 100%;
    
}





button{
    padding:25px;
    max-width: 500px;
}

.btnSubmit {
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color:#FF5959;
    color:white;
}




.btnCancel {
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnCancel:hover {
    background-color: #FF5959;
    color: white;
}

.row {
    transform: translate(600px);
    padding: 50px;
    max-width: 450px;
}
