body {
    font-family: Roboto,"Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* top container 
    background: linear-gradient(to right, #16222a, #233142);
*/
.top-box {
    background-color: white;
    height: 100px;
    padding: 10px 0 10px 20px;
    color: black;
    border-bottom: solid;
    border-width: 10px;
    border-bottom-color: black;
}
   

.top-head {
    transform: translateY(25px);
    font-size: 5rem; 
}

h1.top-box {
    font-size: 5rem;
    padding: 10px;
    font-family: Roboto,"Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Roboto,"Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
}




h2 {    
    font-size: 3rem;
    text-align: left;
    text-decoration: solid;
    padding-top: 45px;
    padding-bottom: 1px;
    padding-left: 20px;
    border-bottom: solid;
    border-width: 4px;
    border-bottom-color: black;
    font-family: Roboto,"Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
   
}

.content {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Roboto,"Helvetica Neue", Verdana, Geneva, Tahoma, sans-serif;
}

container2{
    height: 800px;
}



.col-25 {
    padding: 25px;
}

.col-75 {
    padding: 25px;
    width: 100%;
    height: 100%;
    border-bottom-width: thick;
    border-bottom: solid;
    border-bottom-color: black;
}


.lbl {
    
    display: inline;
    float: left;
    text-align: right;
    width: 100px;
    font-size: 2rem;
    height: 30px;
    transform: translateX(210px);
}

.lbl2 {
    display: inline;
    float: left;
    text-align: right;
    width: 150px;
    font-size: 2rem;
    height: 30px;
    transform: translateX(160px);
}

.txt {
    font-size: 1.5rem;
    
}


/*text box for title*/
.txtTitle {
    max-width: 500px;
    width: 500px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    border-width: 2px;
    background-color: #F7F9F9;
}


/* Text Box for description*/
.txtDesc {
    max-width: 500px;
    width: 500px;
    height: 200px;
    text-align: left;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    border-width: 2px;
    transform: translateX(-25px);
    background-color: #F7F9F9;
}


.tbox {
    width: 100%;  
    border-top-width:thick;
}


button{
    padding:25px;
    max-width: 500px;
}

.btnSubmit {
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color:#FF5959;
    color:white;
}

.btnCancel {
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnCancel:hover {
    background-color: #FF5959;
    color: white;
}

.row {
    transform: translate(600px);
    padding: 50px;
    max-width: 450px;
}


/*
    Style for Homepage below
*/

div.ContainerH1 {
    margin: 0px;
    padding: 30px 0 20px 0;
    background-color: white;
    border-bottom: solid;
    border-width: 4px;
    border-bottom-color: black;
    position:center;
}

.btnOptions {
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btnOptions1 {
    margin-bottom:20px;
    background-color: #FACF5A;
    border-radius: 25px;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    transform: translate(400px);
}

.btnOptions:hover {
    background-color: #FF5959;
    color: white;
}

.mydatagrid {
    width: 80%;
    border: solid 2px black;
    border-bottom-width:0px;
    min-width: 80%;
    padding:10px;
    
}

HeaderText{
   padding:20px;
   text-align:left;
}

mydatagrid.td {
    padding: 20px;
}
 

