body {
    font-family: 'sans-serif'!important;
}

.top-box {
    height: 110px;
    width: 100%;
    background: linear-gradient(187.19deg, #FF7F7F 0%, #DDCD13 101.17%);
}
    .header {
    padding-left: 35px;
    transform: translateY(60px);
    font-size: 5rem;
    color: #FACF5A;
}

.header2 {
    color: rgba(255, 89, 89, 0.99);
    font-size: 3rem;
}
.contactsBackground {
    background-image: url('../Images/background.png') !important;
}


.contactus-header {
    position: relative;
    margin-top: 2px;
    width: 100%;
    height: 110px !important;
    background: linear-gradient(187.19deg, #FF7F7F 0%, #DDCD13 101.17%) !important;
   
}

.contactus-label {
    font-family:sans-serif !important;
    font-size: 40px;
    line-height: 60px;
    padding:20px;
    vertical-align: central;
    color: white;
}

.btn-cit {
    position: absolute;
    width: 82px;
    height: 37px;
    background: rgba(255, 89, 89, 0.99);
}

.contactus-form {
    padding-top: 40px;
}

.c-form {
    color: rgba(255, 89, 89, 0.99);
    font-size: 2.25rem;
    padding: 20px 20px 20px 0px;
}

input[type=text] {
    line-height: 50px !important;
}

.form-control {
    line-height: 50px !important;
}

.container {
    margin-top: 50px;
    /*background-image: url('../Images/background.png') !important;*/
    
}

.connect {
    padding: 2em;
}
