
/* All pages */
h1 {
    font-size: 3.5rem;
}

p {
    padding-left: 10px;
}




/* Top box */
.course-topbox {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #EAB222 7.96%, #FEDE86 100%);
}

.course-head {
    position: absolute;
    color: white;
    padding: 50px;
    transform: translateY(25px);
}

.apply-container {
    position: absolute;
    left: 1200px;
    transform: translateY(80px);
}

.apply-btn {
    background-color: rgb(20, 52, 192); /* Green */
    border: 3px solid rgb(6, 210, 224);
    border-radius: 25px;
    color: rgb(6, 210, 224);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transform: translateX(-120px);
}

    .apply-btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        opacity: 0.8;
    }

/* Course content */

.course-content {
    height: 3800px;
    padding: 50px;
    line-height: 1.8;
    color: rgb(0, 15, 80);
    font-size: 1.7rem;
    background-color: rgb(248, 248, 248);
}


.course-table {
    width: 100%;
    font-size: 1.7rem;
    border: 2px solid black;
    line-height: 1.8;
}

    .course-table td {
        padding: 15px;
    }



/* FOOTER */
