
/* All pages */
body {
    font-family: 'sans-serif' !important;
}
h1 {
    font-size: 1rem;
}

p {
    padding-left: 10px;
}

/* CYBER */
.course-topbox-2 {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #CB3939 7.96%, #FF8282 100%);
}


.course-head-2 {
    position: absolute;
    color: white;
    padding: 50px;
    transform: translateY(25px);
}

.cyber-header {
    font-size: 14px;
}


/* SOFTWARE */
.course-topbox-3 {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #008C1F 7.96%, #79FD96 100%);
}

/* GAMES */
.course-topbox-4 {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #8C0087 7.96%, #FF9CFB 100%);
}

/* NET */
.course-topbox-5 {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #1E77A9 7.96%, #82C3FF 100%);
}

/* Top box */
.course-topbox {
    height: 200px;
    max-height: 200px;
    width: 100%;
    background: linear-gradient(131.69deg, #EAB222 7.96%, #FEDE86 100%);
}

.course-head {
    position: absolute;
    color: white;
    padding: 50px;
    transform: translateY(25px);
}

.apply-container {
    position: absolute;
    left: 1200px;
    transform: translateY(80px);
}

.apply-btn {
    background-color: rgb(20, 52, 192); /* Green */
    border: 3px solid rgb(6, 210, 224);
    border-radius: 25px;
    color: rgb(6, 210, 224);
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transform: translateX(-120px);
}

    .apply-btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        opacity: 0.8;
    }

/* Course content */

.course-content {
    height: 3800px;
    padding: 50px;
    line-height: 1.8;
    color: rgb(0, 15, 80);
    font-size: 1.7rem;
    background-color: rgb(248, 248, 248);
}


.course-table {
    width: 100%;
    font-size: 1.7rem;
    border: 2px solid black;
    line-height: 1.8;
}

    .course-table td {
        padding: 15px;
    }
