body {
    font-family: sans-serif;
}



/*top container*/

/*---------------------News heading-------------------------------------*/
.top-box {
    height: 110px;
    width: 100%;
    background: linear-gradient(187.19deg, #FF7F7F 0%, #DDCD13 101.17%);
}

.header {
    padding-left: 35px;
    transform: translateY(25px);
    font-size: 5rem;
    color: white;
}

/*--------------------------------------content container-------------------------------*/
.form-container {
    text-align: center;
    transform: translateY(150px);
}

.content-box {
    background-image: url('../Images/background.png');
    background-size: contain;
    min-height: 900px;
}
.header2 {
    text-align: center;
    transform: translateY(50px);
    font-size: 4rem;
    color: white;
}

* {
    box-sizing: border-box;
}

.bakgrnd {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    z-index: 1;
    background-image: url('../Images/background.png');
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-control {
    font-size: 1em !important;
    color: #000 !important;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
