.event-date, .eventresult-date {
    font-size: 24px;
    font-family: sans-serif;
    min-width: 140px;
    padding-top: 50px;
}

    .eventresult-date > div {
        text-align: center;
        color: #fff;
    }

.event-time {
    padding-top: 10px;
    font-size: 24px;
    font-family: sans-serif;
}

.featured-date {
    position: relative;
    border-bottom: 2px solid #777777;
}

.eventresult-img {
    height: 350px;
    width: 90%;
}

.event-title > a {
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    font-weight: 500;
    font-size: 24px;
    color: #1d1d1d;
}

    .event-title > a:hover, a:focus {
        color: #ee002d;
        transition-duration: 500ms;
    }

.event-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 500;
    outline: 0 solid transparent;
    color: #828282;
    padding-top: 10px;
}
    
.evt-reg-button {
    padding-top: 70px;
    height: 100px;
    margin-right: 30%;
    padding-bottom: 20px;
}

.subcontrol{
    padding-top: 20px;
}

.participants {
    padding-top: 30px;
    font-size: 20px;
}

.eventresult-title {
    font-size: 30px;
    font-weight: bold;
    color: #1d1d1d;
    font-family: sans-serif;
}

.eventresult-content {
    font-size: 18px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 2;
    color: #1d1d1d;
}

.register-block {
    background: linear-gradient(to bottom, #049898 0%, #828282 100%);
}