

.divPageContent {
    vertical-align: middle;
    text-align: center;
    width: 700px;
    height: 700px;
    margin-top:60px;
    background-image: url('../Images/background.png');
}
.divHeader {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height:80px;
    width:530px;
}
.imageLogo {
}
.pageTitle {
    padding-top: 10px;
    width: 196px;
    height: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    font-family: sans-serif;
    color: white;
    text-align:center;
}
.plnOutline {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 700px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    z-index: 1;
    background-image: url('../Images/background.png');
}
.plnInline {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 600px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
    z-index: 1;
}
.plnOutlineHorizontal {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 1080px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    z-index: 1;
    background-image: url('../Images/background.png');
}

.plnInlineHorizontal {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 950px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
    z-index: 1;
}
.plnOuterLogin {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    z-index: 1;
    background-image: url('../Images/background.png');
}

.plnInnerLogin {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: auto;
    z-index: 1;
}
.textLables {
    width: 70px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    font-family: sans-serif;
    color: white
}

.textLables1 {
    width: 20px;
    height: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 15px;
    font-family: sans-serif;
    color: white
}

.textLablesSmall {
    width: 20px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    font-family: sans-serif;
    color: Red
}
.textLablesInfo {
    width: 10px;
    height: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    font-family: sans-serif;
    color: white
}

.tableAddPost{
    vertical-align:middle;
    text-align:left;
    width:500px;
    height:500px;
    }

.tablelogin {
    vertical-align: middle;
    text-align: left;
    width: 450px;
    height: 200px;
}
.tableViewReplyPost {
    vertical-align: middle;
    text-align: left;
    width:545px;
}

.tableRegister {
    vertical-align: middle;
    text-align: left;
    width: 500px;
    height: 800px;
}

.btnCancelControls {
    width: 140px;
    height: 40px;
    background-image: linear-gradient(to left bottom, #facf5a, #fad570, #fbdb85, #fbe099, #fbe6ad);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 22px;
    color: black;
    font-family:sans-serif;
    font-weight:bold;
}

.btnReply{
    width: 100px;
    height: 30px;
    background-image: linear-gradient(to left bottom, #facf5a, #fad570, #fbdb85, #fbe099, #fbe6ad);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.btnSubmitControls {
    width: 165px;
    height: 40px;
    background-image: linear-gradient(to left bottom, #facf5a, #fad570, #fbdb85, #fbe099, #fbe6ad);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 22px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.txtControl {
    width: 220px;
    height: 40px;
    background: #E5E5E5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size:14px;
}

.txtControlRegister {
    width: 250px;
    height: 30px;
    background: #E5E5E5;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

.divQuickLinks {
    width: 160px;
    height: 154px;
    background-image: linear-gradient(to bottom, #e5e5e5, #e2e2e2, #dfdedf, #dddadb, #dad7d7);
    border: 1px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    display: inline-table;
    padding:25px;
    margin-top:15px;
    margin-bottom:15px;
}

.divTopLinks {
    width: 160px;
    height: 154px;
    background-image: linear-gradient(to bottom, #e5e5e5, #e2e2e2, #dfdedf, #dddadb, #dad7d7);
    border: 1px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline-table;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:left;
}

.gridheader {
    background-image: linear-gradient(to bottom, #e5e5e5, #e2e2e2, #dfdedf, #dddadb, #dad7d7);
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 50px;
}

.btnSubmitControls {
    width: 185px;
    height: 40px;
    background-image: linear-gradient(to left bottom, #facf5a, #fad570, #fbdb85, #fbe099, #fbe6ad);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}
.topLoginCorner {
    position: absolute;
    top: 0;
    right: 0;
}

.ddllogin {
    border: 2px solid #7d6754;
    border-radius: 5px;
    padding: 3px;
    -webkit-appearance: none;
    background-image: url('../Images/down.png');
    background-position: 88px;
    background-repeat: no-repeat;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}

.ddllogin1 {
    color: darkblue;
    border-radius: 5px;
    -webkit-appearance: none;
    background: url('../Images/down.png');
    background-position: right;
    background-repeat: no-repeat;
}
