

/* TOP SECTION */
.topbox {
    background-image: linear-gradient(to top, rgb(2, 28, 83), rgb(1, 110, 199));
    height: 10rem;
    width: auto;
    padding-left: 180px;
    text-align:center;
}

.topbox-title {
    color: white;
    font-size: x-large;
    text-align: center;
    transform: translateY(50px);
    text-align: center;
    line-height: 1.6rem;
}

.topbox-logo-container {
    width: 15%;
    height: auto;
    padding-left: 60px;
    transform: translateY(-10px);
    vertical-align:central;
    line-height:1.6rem;
    
}

