
/* TOP SECTION */
body {
    font-family: 'sans-serif' !important;
}

.topbox {
    /*background-image: linear-gradient(to top, rgb(2, 28, 83), rgb(1, 110, 199));*/
    /*background-color: rgb(2, 28, 83);*/
    background-color: #356AAE;
    height: 12rem;
    width: auto;
    padding-left: 180px;
    text-align: center;
    font-family: sans-serif !important;
}

.topbox-title {
    color: white;
    font-size: x-large;
    text-align: center;
    transform: translateY(50px);
    text-align: center;
    line-height: 1.0rem;
    font-family: sans-serif !important;
    font-weight:bold;
    margin:0;
}

.topbox-logo-container {
    /*width: 15%;*/
    padding-left: 60px;
    transform: translateY(-10px);
    vertical-align: central;
    line-height: 1.6rem;
    height: 100px;
    width: 100px;
}
.topbox-logo {
    max-width: 100px;
    max-height: 100px;
}


body {
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
    /*background-image: linear-gradient(to top, rgb(2, 28, 83), rgb(1, 110, 199));*/
    /*background-color: rgb(2, 28, 83);*/
    background-color: #356AAE;
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
    color: #F9FEFF;   
    display: flex;
    padding: 0px;
    padding-left: 170px;
}

    footer a {
        color: white;
    }

.footer-info {
    display: inline-block;
    width: 17%;
    height: 58px;   
    padding-top:5px;
    padding-bottom: 5px;
    margin: 8px;
    border: none;
    vertical-align: top;
    color: white;
    border-left: 1px solid;
    /*border-right: 1px solid;*/    
    text-align:center;
}

ul {
    padding: 0;
    text-decoration: none;
}

    ul li {
        list-style-type: none;
    }

h3 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 37px;
    /*color: rgba(0, 229, 255, 0.97);*/
}

.help-button {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 229, 255, 0.97);
    border: solid;
    border-width: 1px;
    border-spacing: 10px;
    padding: 5px 10px 5px 12px;
}

.fa-social {
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 0em;
}

li {
    display: inline-block;
}
.horizontal {
    display: inline;
    border-left: 2px solid;
    padding-left: 0.3em;
}

.fa facebook {
    background: #3B5998;
    color: white;
}

