/*All*/
body{
    font-family: sans-serif;
 
}



/*top container*/

/*---------------------News heading-------------------------------------*/
.top-box {
    height: 75px;
    width: 100%;
    background:black;
}

.header {
    padding-left: 35px;
    transform: translateY(5px);
    font-size: 5rem;
    color: #f8f9fa;
}
    /*--------------------------------------content container-------------------------------*/
   

.content-box {
  height:auto; 
   
    
}
/*=====================================Add news===================================*/
.header2 {
    text-align: center;
    transform: translateY(50px);
    font-size: 4rem;
    color: black;
}

* {
    box-sizing: border-box;
}

.btnSubmitControls {
    background-color:transparent;    
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 10px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.divider {
    
    height: auto;
    display: inline-block;
}



input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.form-control {
    font-size: 1em !important;
    color: #000 !important;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #212529;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    width: 125px;
    background: #deac15;
}



    

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input{
    max-width: 600px;
}

textarea {
    max-width: 600px;
}

.button1 {
    transform: translateX(900px);
   
    width: 50px;
    height: 40px;
    border-radius: 10px;
}
.btn {
    transform: translateX(800px);
   
    margin: 25px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.date {
    transform: translateX(123px);
    font-size: 2rem;
    padding: 12px 12px 12px 0;
}
/*===========================================News=========================================*/

.news-title {
    font-size: 12px;
    width: 180px;
}

.news-date {
    font-size: 12px;
    padding: 0 !important;
}

.item-header {
    font-family:sans-serif
    font-size: 1rem;
    color:white;
    padding: 20px;
    font-weight: 700;
    
    margin-right: 10px;
    margin-top: 10px;
    
   
}
input, select, textarea {
    float: left;
    height: 50px !important;
}

.form-control {
    font-size: 1em !important;
    color: #000 !important;
}

.required {
    color: red !important
}

.item-container {
    width: 120px;
    background-color: #419098
}
.display {
    background-color: transparent;
    height:170px;
    width: 220px;
    padding-left: 50px;
}
.news-title {
    color: white;
    text-align:left;
    font-size:11px;
}
.news-date
{
 color: white;
 font-size:15px;
}

.img-hover figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.img-hover figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.title-link{
    color:#fff !important;
}

/*===========================================News Result========================================*/
.img {
    height:300px;
    width: 500px;
    padding-left: 50px;
    
 }
.date{
    font-family:sans-serif;
    font-size: 10px !important;
    color: white !important;
}

.newsresult-title{
    font-size: 30px;
    font-weight:bold;
    padding: 50px 0 0 50px;
    color:antiquewhite;
}

.newsresult-content {
    font-size: 15px;
    padding: 50px;
    text-align: justify;
    line-height: 2;
    color:antiquewhite;
}
.newsresult-source {
    color: antiquewhite;
    transform: translateX(225px);
    font-size:10px;
}
.news-submit {
       color:white !important;
       font-size:15px;
       font-weight:bolder;
      

}
.news-cancel {
    color: white !important;
    font-size: 15px;
    font-weight: bolder;
}
