#divContainer {
    background: linear-gradient(0deg, rgba(8, 173, 243, 0.43), rgba(8, 173, 243, 0.43));
}

#divHeader {
    color: white;
    font-size: 45px;
    font-weight: bold;
    background: #233142;
}

.divSubHeader {
    background: linear-gradient(90deg, #FACF5C 92.89%, #E0E0E0 98.96%);
    color: black;
    font-size: 20px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    vertical-align: central;
}

#QuickAccess {
    background: rgba(8, 95, 99, 0.88);
}

#QuickAccessFS {
    background: white;
}


#Service{
    background: rgba(73, 190, 183, 0.88);
}

.InformationBox {
    background: #ffff73;
    width: 500px;
    text-align: center;
}

.InformationBoxFS {
    font-size:small;
    color:darkslategrey;
}



.QuickAccessTable {
    width: 700px;
    height: auto;
    text-align: center;
    align-items: center;
    vertical-align: central;
}

.divContent {
 
    height: 125px;
    background: rgba(255, 255, 255, 0.87);
    display:flex;


}


.Icons {
    height: 120px;
    width: 120px;
    border-radius: 15px;
    border-color:black;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    
}
.QuickAccessIcons {
    height: 120px;
    width: 120px;
    border-width:initial;
    border-color: black;
 }
