body {
    font-family: 'sans-serif' !important;
}
.paragraphtag {
    font-family: 'sans-serif';
}


#divContainer {
    background: linear-gradient(180deg, rgba(8, 95, 99, 0.88) 32.29%, rgba(0, 0, 0, 0) 100%);
}

#divHeader {
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    height: 100px;
    font-weight: bold;
    /*background: #233142;*/
    background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left: 15px;
    padding-top: 10px;
    margin: 0px;
    font-size: 4rem;
}

.divSubHeader {
    background: linear-gradient(90deg, #FACF5C 92.89%, #E0E0E0 98.96%);
    color: black;
    font-size: 20px;
    height: 80px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    vertical-align: central;
    margin: 0px;
    padding-top: 25px;
}

    .divSubHeader:hover {
        color: deepskyblue;
    }

.divContentPBL {
    background: #085e63;
    color: white;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 40px;
    vertical-align: central;
    border-radius: 15px;
    padding: 20px;
}

.divContentWIL {
    background: rgba(8, 173, 243, 0.43);
    color: white;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 40px;
    vertical-align: central;
    border-radius: 15px;
    padding: 20px;
}

.divContentFL {
    color: black;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: justify;
    line-height: 40px;
    vertical-align: central;
    border-radius: 15px;
    padding: 20px;
}


.Icons {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: white;
    align-items: center;
}
