#divContainer {
    background: linear-gradient(180deg, rgba(8, 173, 243, 0.43) 32.29%, rgba(0, 0, 0, 0) 100%);
   
}

#divHeader {
    color: white;
    font-size: 45px;
    font-weight: bold ;
    background: #233142;
}

.divSubHeader {
    background: linear-gradient(90deg, #FACF5C 92.89%, #E0E0E0 98.96%);
    color: black;
    font-size: 20px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    vertical-align: central;
}


.divContent {
    background: linear-gradient(90deg, #FACF5C 92.89%, #E0E0E0 98.96%);
    color: black;
    font-size: 20px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    align-items: center;
    vertical-align: central;
}

.Icons {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    background-color: white;
}
